# ============================================================
# Large datasets and generated features
# ============================================================

# Raw NCI-ALMANAC dataset
data/raw/

# Large generated feature datasets
features/
splits/

# Large processed training feature matrix
data/processed/train_features.csv


# ============================================================
# Trained models
# ============================================================

models/


# ============================================================
# CatBoost generated logs
# ============================================================

catboost_info/


# ============================================================
# Python cache
# ============================================================

__pycache__/
*.py[cod]


# ============================================================
# Jupyter
# ============================================================

.ipynb_checkpoints/
*_old.ipynb


# ============================================================
# OS / editor files
# ============================================================

.DS_Store
*.swp
*.swo
*~
